<br>
<ul>
  <% @tasks.each do |task| %>
    <li><% if task.completed %>
          completed
        <% else %>
          uncompleted
        <% end %> | <%= link_to task.title, task_path(task) %>
    <br>
    <%= link_to "Delete",
    task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    </li>
  <br>
  <% end %>
</ul>

<%= link_to "add a new task", new_task_path %>
